<launch>
    <node pkg="ssf_updates" type="visionpose_sensor" name="ekf_fusion"   clear_params="true" output="screen">
			<remap from="ekf_fusion/imu_state_input" to="/mavros/imu/data/sys_id_6" />
			<remap from="ekf_fusion/mag_state_input" to="/mavros/imu/mag/sys_id_6" />
         	<remap from="ekf_fusion/visionpose_measurement" to="/zed/delta_odom" />

	    	<rosparam file="$(find ssf_updates)/visionpose_sensor_fix.yaml"/>
    </node>
</launch>
