<launch>
    <node name="visionpose_sensor" pkg="ssf_updates" type="visionpose_sensor" clear_params="true" output="screen">
			 <remap from="ssf_core/imu_state_input" to="/imu0" />
         	<remap from="ssf_core/visionpose_measurement" to="/stereo_odometer/pose" />

	    	<rosparam file="$(find ssf_updates)/visionpose_sensor_fix.yaml"/>
    </node>
</launch>
